*,
a,
footer {
  font-family:
    easyJet Rounded Book,
    sans-serif;
  box-sizing: border-box;
}

body a {
  color: black;
  text-decoration: none;
}

/* DANS LE CONTAINER, EN METTANT MAX-WIDTH AU LIEU DE JUSTE WIDTH, CA PERMET QUE QUAND ON DIMINUE L'ECRAN POUR LE RESPONSIVE, TOUT NE SOIT PAS DECALE, ET LE CONTAINER GARDE LA LARGEUR DE L'ECRAN AU FUR ET A MESURE QU'ON DESCEND EN DESSOUS DE SA LARGEUR DE BASE */

.container {
  max-width: 960px;
  margin: 0px auto;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

header {
  background-image: url(/Assets/Imgs/headbar.gif);
  background-size: cover;
  height: 60px;
  font-size: 16px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

header a {
  color: white;
  text-decoration: none;
}

header button {
  padding: 7px 10px;
  background-color: white;
  color: #fe5200;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}

.signup-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*  MAIN STYLE */

/* BEACH SECTION */

.beach-section {
  margin-bottom: 50px;
  position: relative;
}

.beach-section img {
  width: 100vw;
  height: 650px;
  object-fit: cover;
  display: block;
}

.beach-absolute {
  position: absolute;
  top: 20px;
  height: 430px;
  width: 100vw;
}

.booking-menu-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.right-column {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.right-column-title {
  font-family:
    easyJet Headline,
    sans serif;
  font-size: 50px;
}

.right-column > div p:nth-child(2) {
  font-size: 50px;
}

.right-column button {
  background-color: #fe5200;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  align-self: flex-start;
}

/* BEACH WHITE PART */

.beach-white-absolute {
  position: absolute;
  bottom: 0px;
  height: 130px;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.7);
}

.container-white-bar {
  height: 100%;
  padding: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.offers button {
  padding: 5px 10px;
  background-color: #fe5200;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 2px;
  align-self: flex-start;
}

.offers > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*  WORLDWIDE DEFAULT */

.worldwide-default {
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
/* Le "Overflow:hidden" au-dessus sert à ce que les bords carrés des images ne dépassent pas des bords arrondis de leur section. */

.worldwide-default p {
  font-size: 13px;
  margin-bottom: 10px;
}

.worldwide-default button {
  background-color: #fe5200;
  border: none;
  padding: 8px 30px;
  color: white;
  border-radius: 2px;
  align-self: flex-end;
}

.worldwide-default > img {
  width: 640px;
}

.worldwide-default > div {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* WORLDWIDE */

.WORLDWIDE img {
  height: 250px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

/* WORLDWIDE 2 */

.worldwide-2 img {
  height: 305px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

/* CARROUSEL-SECTION */

.carrousel-section {
  margin-bottom: 20px;
  height: 380px;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.carrousel-card {
  height: 370px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.carrousel-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
}

.carrousel-card > div {
  padding: 15px;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}

.carrousel-card button {
  position: absolute;
  bottom: 15px;
  background-color: #fe5200;
  border: none;
  padding: 8px 30px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

/* POUR CACHER LA SCROLLBAR */

/* ----- POUR CHROME SAFARI ET OPERA */
.carrousel-section::-webkit-scrollbar {
  display: none;
}

/* ----- POUR IE EDGE ET FIREFOX */
.carrousel-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* TRIPLE IMG */

.triple-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.triple-img > div {
  position: relative;
}

.triple-img-absolute {
  position: absolute;
  top: 0px;
  height: 220px;
  width: 285px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.triple-img-absolute h4 {
  font-size: 30px;
}

.triple-img-absolute p {
  font-size: 20px;
}

.triple-img img {
  display: block;
  height: 220px;
  width: 285px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

/* CARROUSEL BOTTOM-CARROUSEL */

.bottom-carrousel {
  margin-bottom: 50px;
}

.bottom-carrousel h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.bottom-carrousel > menu {
  display: flex;
  overflow: scroll;
  gap: 20px;
}

.bottom-carrousel div {
  width: 145px;
  height: 145px;
  padding: 20px;
  border-radius: 10px;
  background-color: #303030;
  color: white;
  flex-shrink: 0;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-carrousel div:hover {
  background-color: #fe5200;
  cursor: pointer;
}

.icon {
  font-size: 60px;
  align-self: center;
}

.bottom-carrousel > menu::-webkit-scrollbar {
  display: none;
}

.bottom-carrousel > menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
}
.footer-div {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-div p {
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-div li {
  font-size: 12px;
  line-height: 18px;
}

/* HIDE BY DEFAULT */

.phone-display {
  display: none;
}

.white-icon {
  color: white;
}

/* MEDIA QUERIES - BREAKPOINT A 1115 PX, 960 PX ET 670 PX */
