@font-face {
  font-family: "easyJet Headline";
  src: url("/Assets/fonts/easyJetHeadline.eot");
  src:
    url("/Assets/fonts/easyJetHeadline.eot?#iefix") format("embedded-opentype"),
    url("/Assets/fonts/easyJetHeadline.woff2") format("woff2"),
    url("/Assets/fonts/easyJetHeadline.woff") format("woff"),
    url("/Assets/fonts/easyJetHeadline.ttf") format("truetype"),
    url("/Assets/fonts/easyJetHeadline.svg#easyJetHeadline") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "easyJet Rounded Demi";
  src: url("/Assets/fonts/easyJetRoundedDemi.eot");
  src:
    url("/Assets/fonts/easyJetRoundedDemi.eot?#iefix")
      format("embedded-opentype"),
    url("/Assets/fonts/easyJetRoundedDemi.woff2") format("woff2"),
    url("/Assets/fonts/easyJetRoundedDemi.woff") format("woff"),
    url("/Assets/fonts/easyJetRoundedDemi.ttf") format("truetype"),
    url("/Assets/fonts/easyJetRoundedDemi.svg#easyJetRoundedDemi") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "easyJet Rounded Book";
  src: url("/Assets/fonts/easyJetRoundedBook.eot");
  src:
    url("/Assets/fonts/easyJetRoundedBook.eot?#iefix")
      format("embedded-opentype"),
    url("/Assets/fonts/easyJetRoundedBook.woff2") format("woff2"),
    url("/Assets/fonts/easyJetRoundedBook.woff") format("woff"),
    url("/Assets/fonts/easyJetRoundedBook.ttf") format("truetype"),
    url("/Assets/fonts/easyJetRoundedBook.svg#easyJetRoundedBook") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
