body {
  font-family:
    easyJet Rounded Book,
    sans-serif;
}

body a {
  color: black;
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0px auto;
}

h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

header {
  background-image: url(/Assets/Imgs/headbar.gif);
  background-size: cover;
  height: 60px;
  font-size: 16px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

header > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

header a {
  color: white;
  text-decoration: none;
}

header button {
  padding: 7px 10px;
  background-color: white;
  color: #fe5200;
  border: none;
  font-size: 16px;
  border-radius: 2px;
}

/*  MAIN STYLE */

/* BEACH SECTION */

.beach-section {
  margin-bottom: 50px;
}

.beach-section img {
  width: 100vw;
  height: 650px;
  object-fit: cover;
  display: block;
}

.beach-relative {
  position: relative;
}

.beach-absolute {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 100vw;
}

.partie-beach {
  display: flex;
  justify-content: space-between;
}

.header-right {
  height: 430px;
  width: 250px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-right p:first-child {
  font-family: easyJet Headline;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.header-right p:nth-child(2) {
  font-family: easyJet Rounded Book;
  font-size: 18px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.header-right p:nth-child(3) {
  font-family: easyJet Rounded Book;
  font-size: 15px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.header-right p:nth-child(3) > span {
  font-size: 50px;
  display: block;
}

.header-right button {
  background-color: #fe5200;
  border: none;
  padding: 8px 20px;
  color: white;
  border-radius: 2px;
  align-self: flex-start;
}

.beach-absolute-bottom {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 20%;
  width: 100vw;
  background-color: #ffffffb5;
  display: flex;
}

.partie-beach-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.partie-beach-bottom > p {
  font-size: 12px;
  margin-top: 10px;
}

.destinations-phares {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.destinations-phares-single {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.destinations-phares-single button {
  background-color: #fe5200;
  border: none;
  padding: 8px 10px;
  color: white;
  border-radius: 2px;
  align-self: flex-start;
}

/*  WORLDWIDE DEFAULT */

.worldwide-default {
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
/* Le "Overflow:hidden" au-dessus sert à ce que les bords carrés des images ne dépassent pas des bords arrondis de leur section. */

.worldwide-default p {
  font-size: 13px;
  margin-bottom: 10px;
}

.worldwide-default button {
  background-color: #fe5200;
  border: none;
  padding: 8px 30px;
  color: white;
  border-radius: 2px;
  align-self: flex-end;
}

.worldwide-default > img {
  width: 640px;
}

.worldwide-default > div {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* WORLDWIDE */

.WORLDWIDE img {
  height: 250px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

/* WORLDWIDE 2 */

.worldwide-2 img {
  height: 305px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

/* CARROUSEL-SECTION */

.carrousel-section {
  margin-bottom: 20px;
  height: 380px;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.carrousel-card {
  height: 370px;
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.carrousel-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  display: block;
}

.carrousel-card > div {
  padding: 15px;
  flex: 1;
  flex-direction: column;
  gap: 15px;
}

.carrousel-card button {
  position: absolute;
  bottom: 15px;
  background-color: #fe5200;
  border: none;
  padding: 8px 30px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

/* POUR CACHER LA SCROLLBAR */

/* ----- POUR CHROME SAFARI ET OPERA */
.carrousel-section::-webkit-scrollbar {
  display: none;
}

/* ----- POUR IE EDGE ET FIREFOX */
.carrousel-section {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* TRIPLE IMG */

.triple-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.triple-img > div {
  position: relative;
}

.triple-img-absolute {
  position: absolute;
  top: 0px;
  height: 220px;
  width: 285px;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.triple-img-absolute h4 {
  font-size: 30px;
}

.triple-img-absolute p {
  font-size: 20px;
}

.triple-img img {
  display: block;
  height: 220px;
  width: 285px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

/* CARROUSEL BOTTOM-CARROUSEL */

.bottom-carrousel {
  margin-bottom: 50px;
}

.bottom-carrousel h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.bottom-carrousel > menu {
  display: flex;
  overflow: scroll;
  gap: 20px;
}

.bottom-carrousel div {
  width: 145px;
  height: 145px;
  padding: 20px;
  border-radius: 10px;
  background-color: #303030;
  color: white;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
}

.bottom-carrousel div:hover {
  background-color: #fe5200;
  cursor: pointer;
}

.bottom-carrousel div i {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.bottom-carrousel > menu::-webkit-scrollbar {
  display: none;
}

.bottom-carrousel > menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* FOOTER */

footer {
  background-color: #f2f2f2;
}
.footer-div {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-div p {
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-div li {
  font-size: 12px;
  line-height: 18px;
}
